@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

body{
  padding: 0;
  margin: 0;
  font-family: 'Bitter', serif;
}
* {
    box-sizing: border-box;
}
#net{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.content{
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    width: 400px;
    height: 150px;
    text-align: center;
    color: #fff;
    transform: translate(-50%, -50%);
}
h1{
  font-size: 2.5rem;
}
